*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

@mixin sectionSize(){
    width: 100vw;
    height: 100vh;
}

$colors : (
    'a' : blue,
    'b' : red,
    'c' : yellow
);

@mixin bgColor($color){
    background-color: map-get($colors, $color);
}

@mixin nav{
    width: 100%;
    position: fixed;
    list-style: none;
    display: flex;
    background-color: #262626;
    font-family: sans-serif;
}

@mixin navItems{
    padding: 1%;
    color: white;
    flex: 1;
    text-align: center;
    transition: .3s ease;
    cursor: pointer;

    &:hover{
        background-color: rgba(255, 255, 255, .1);
    }
}

ul{
    @include nav;
    
    li{
        @include navItems;
    }
}

#s1{
    @include sectionSize;
    @include bgColor('a');
}

#s2{
    @include sectionSize;
    @include bgColor('b');
}

#s3{
    @include sectionSize;
    @include bgColor('c');
}